<!-- Account panel -->
<div id="account-{{ account['id'] }}-panel"
    class="container mx-auto border-4 border-[#72af7d] bg-white rounded-xl items-center">
    {% include 'account_panel.html' %}
</div>

<!-- transcations table -->
<div class="container transaction-table">
    <table class="mx-auto text-left w-[90%]">
        <thead class="flex w-full text-[#72af7d] bg-[#c9d1c9]">
            <tr class="flex w-full mb-2 rounded-xl">
                <th class="w-1/4 p-2">Date</th>
                <th class="w-2/4 p-2">Description</th>
                <th class="w-1/4 p-2">Amount</th>
            </tr>
        </thead>
        <tbody class="flex flex-col items-center justify-between w-full overflow-y-scroll bg-grey-light">
            {% for t in transactions %}
            <tr class="flex w-full">
                <td class="w-1/4 p-4">{{ t['date'] }}</td>
                <td class="w-2/4 p-4">{{ t['description'] }}</td>
                <td class="w-1/4 p-4">{{ '%.2f' | format(t['amount']) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>